# Python
__pycache__/
*.py[cod]
*.pyo

# Environment Variables
.env

# Logs
logs/
*.log

# Airflow
airflow.cfg
unittests.cfg
*.pid

# Docker
*.env
*.iml
.DS_Store

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/
.history/

# Pytest
.pytest_cache/
.cache
